body,
div,
p,
span {
  font-family: "Roboto", sans-serif;
}
.fw6 {
  font-weight: 600;
}
.pr6 {
  padding-right: 6px;
}
.cusInputStyle {
  height: 42px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
